<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/docdash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/table.css') }}">
    <script src="https://kit.fontawesome.com/fc6a73613f.js"></script>
    <title>Dashboard</title>


    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
    
</head>
<body>
   <!-- SIDEBAR SECTION -->
   <div class="bar">
    <div class="sidebar">
        <h2>HealthID</h2>
        
        <ul>
            <li><a href="#doc"><i class="fa-solid fa-file-waveform"></i>Patient Lineup</a></li>
            <li><a href="#upload_files"><i class="fa-solid fa-upload"></i>Patient Record</a></li>
            <li><a href="#past_activity"><i class="fa-solid fa-book-medical"></i>Past Activity</a></li>
            <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>

        </ul>
    
        <div class="social_media">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
     </div>
    </div>

    <!-- <h1>Welcome {{session.get('name')}}</h1> -->
    <div class="main_content">
        <div class="header">
            <h1>Welcome {{session.get('name')}}</h1>
            <hr>
        </div>
        <div class="content">
        <section class="doctor" id="doc">
            <h2 class="apt">TODAY'S SCHEDULE</h2>
            <!-- Appointments Table -->
            <div class="card mb-3 card-ki-mkb">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Appointments</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Patient Name</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th id="nam1" class="hidden">Name</th>
                                <th id="emal1" class="hidden">Email</th>
                                <th id="desc1" class="hidden">Desc</th>
                                <th id="remark1" class="hidden">Remarks</th>
                                <th>Button</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set a = 0 %}
                            {% for appointment in appointments %}
                                <tr>
                                <td>{{appointment['patient_name']}}</td>
                                <td>{{appointment['date']}}</td>
                                <td>{{appointment['time']}}</td>
                                <td class="patname hidden">Patient name : {{appointment['patient_name']}}</td>
                                <td class="patemail hidden">Patient email : {{appointment['patient_email']}}</td>
                                <td>
                                    <label for="Description{{a}}" id="deschid" class="hidden desclabel">Description :</label>
                                    <input type="text" id="Description{{a}}" name="Description" class="hidden descin" />
                                </td>
                                <td>
                                    <label for="Remarks{{a}}" id="remarkhid" class="hidden remarklabel">Remarks :</label>
                                    <input type="text" id="Remarks{{a}}" name="Remarks" class="hidden remarksin" />
                                </td>
                                <td><button class="viewbtn">View</button>
                                </tr>
                                {% set a = a+1 %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
        </section>
        
        <section  class="upload" id="upload_files">
            <h2 class="apt patient">PATIENT RECORDS</h2>
        </section>

        <section class="activity" id="past_activity">
            <!-- <h2 class="apt">THIS IS PAST ACTIVITY SECTION</h2>     -->
        </section>
        
        </div>
    </div>

      <script type="text/javascript">

        console.log("hey bc")

        let viewbtn = document.getElementsByClassName(viewbtn)
        let patname = document.getElementsByClassName(patname)
        let patemail = document.getElementsByClassName(patemail)
        let description = document.getElementsByClassName(descin)
        let remarks = document.getElementsByClassName(remarksin)
        let description_label = document.getElementsByClassName(desclabel)
        let remarks_label = document.getElementsByClassName(remarklabel)
        
        function showhidden1(){
            console.log("inside function")
            patname[0].classList.remove("hidden")
            patemail[0].classList.remove("hidden")
            description[0].classList.remove("hidden")
            remarks[0].classList.remove("hidden")
            description_label[0].classList.remove("hidden")
            remarks_label[0].classList.remove("hidden")
            document.getElementById(nam1).classList.remove('hidden')
            document.getElementById(emal1).classList.remove('hidden')
            document.getElementById(desc1).classList.remove('hidden')
            document.getElementById(remark1).classList.remove('hidden')
        }


        viewbtn[0].addEventListener('click',showhidden1)

        // for(i of viewbtn)
        // {
        //     i.addEventListener("click", showhidden(patnam[0],patemail[0],description[0],remarks[0],description_label[0],remarks_label[0]))
        //     0++
        // }
      </script>
</body>
</html>