<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/docdash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/table.css') }}">
    <script src="https://kit.fontawesome.com/fc6a73613f.js"></script>
    <title>Dashboard</title>
</head>
<body>
   <!-- SIDEBAR SECTION -->
   <div class="bar">
    <div class="sidebar">
        <h2>HealthID</h2>
        
        <ul>
            <li><a href="#doc"><i class="fa-solid fa-file-waveform"></i>Patient Lineup</a></li>
            <li><a href="#upload_files"><i class="fa-solid fa-upload"></i>Patient Record</a></li>
            <li><a href="#past_activity"><i class="fa-solid fa-book-medical"></i>Past Activity</a></li>
            <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>

        </ul>
    
        <div class="social_media">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
     </div>
    </div>

    <!-- <h1>Welcome {{session.get('name')}}</h1> -->
    <div class="main_content">
        <div class="header">
            <h1>Welcome {{session.get('name')}}</h1>
            <hr>
        </div>
        <div class="content">
        <section class="doctor" id="doc">
            <h2 class="apt">TODAY'S SCHEDULE</h2>
            <!-- Appointments Table -->
            <div class="card mb-3 card-ki-mkb">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Appointments</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Patient Name</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Desc</th>
                                <th>
                                <th>Button</th>
                            </tr>
                            </thead>
                            {% set a = 0 %}
                            <tbody>
                            {% for appointment in appointments %}
                                <tr>
                                <td>{{appointment['patient_name']}}</td>
                                <td>{{appointment['date']}}</td>
                                <td>{{appointment['time']}}</td>
                                <td id="namehid">Patient name : {{appointment['patient_name']}}</td>
                                <td id="emailhid">Patient email : {{appointment['patient_email']}}</td>
                                <td>
                                    <label for="Description" id="deschid">Description :</label>
                                    <input type="text" id="Description" name="Description" />
                                </td>
                                <td>
                                    <label for="Remarks" id="remarkhid">Remarks :</label>
                                    <input type="text" id="Remarks" name="Remarks" />
                                </td>
                                <td><button id="viewbtn">View</button>
                                
                                <!-- <td>{{appointment['patient_name']}}</td>
                                <td>{{appointment['date']}}</td>
                                <td>{{appointment['time']}}</td> -->
                                <!-- <td>hello</td> -->
                                <!-- <td>hello</td> -->
                                <!-- <td>hello</td> -->
                                </tr>
                                {% set a = a+1 %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
        </section>
        
        <section  class="upload" id="upload_files">
            <h2 class="apt patient">PATIENT RECORDS</h2>
        </section>

        <section class="activity" id="past_activity">
            <!-- <h2 class="apt">THIS IS PAST ACTIVITY SECTION</h2>     -->
        </section>
        
        </div>
    </div>

      <script type="text/javascript">
        
      </script>
</body>
</html>