<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/orgregister.css') }}">
    <link rel="stylesheet" href="boxicons/css/boxicons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
        </script>
    <!-- BOOTSTRAP -->
    
    <title>Health-ID | Registration Page</title>
</head>
<body>
    <!-- navbar -->
    <div class="top">
        <img src="https://i.ibb.co/0c2q8GB/Health-IDlogo.png" class="logo">
        <div class="buttons">
            <ul>
                <button  class="btn home-btn ">
                    <li class="topic">
                        <a href="/" class="link">Home</a>
                    </li>
                </button>
    
                <button class="btn about-btn">
                    <li class="login topic">
                        <a href="#" class="link">About</a>
                    </li>
                </button>
    
                <button class="btn services-btn">
                    <li class="services topic">
                        <a href="/services" class="link">Services</a>
                    </li>
                </button>
            </ul>
        </div>
    </div>
    <!-- login -->
    <form action="" method="POST">
    <div class="box">
        <div class="container">

            <div class="top-header">
                
                <header>Hello Organisation, Register Now! </header>
                
            </div>

            <div class="input-field">
              <input type="text" class="input" name="organisation_name" placeholder="Organisation Name" required="required" value={{request.form.organisation_name}}>
              <i class="bx bx-user"></i>
            </div>
            
            <div class="input-field">
                <input type="number" class="input" name="organisation_id" placeholder=" Organisation ID" name="institute_id" required="required" value={{request.form.organisation_id}}>
                <i class="bx bx-user"></i>
            </div>

            <div class="input-field">
                <input type="email" class="input" name="email" placeholder="Email" required="required" value={{request.form.email}}>
                <i class="bx bx-user"></i>
            </div>
            
            <div class="input-field">
              <input type="password" class="input" name="password" placeholder="Password" required="required" value={{request.form.password}}>
              <i class="bx bx-lock-alt"></i>
          </div>
          
          <div class="input-field">
              <input type="password" class="input" name="confirm" placeholder=" Confirm Password" required="required" value={{request.form.confirm}}>
              <i class="bx bx-lock-alt"></i>
          </div>

            <div class="input-field">
                <input type="submit" class="submit" value="Submit">
            </div>

            <div class="bottom">
                <div class="left">
                    <input type="checkbox" id="check">
                    <label for="check"> Remember Me</label>
                </div>
                <div class="right">
                    <label><a href="#">Forgot Password?</a></label>
                </div>
            </div>

        </div>
    </div>
    </form>

</body>
</html>