<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./resdash.css">
    
    <script src="https://kit.fontawesome.com/fc6a73613f.js"></script>
    <link rel="stylesheet" href="./form.css">

    


    

    <title>Health ID | Patient-Dashboard</title>
</head>
<body>
   <!-- SIDEBAR SECTION -->
    <div class="bar">
        <div class="sidebar">
            <h2>HealthID</h2>
            
            <ul>
                <li><a href="#appointment"><i class="fa-solid fa-file-waveform"></i>Appointment</a></li>
                <li><a href="#upload_files"><i class="fa-solid fa-upload"></i>Upload Files</a></li>
                <li><a href="#past_activity"><i class="fa-solid fa-book-medical"></i>Past Activity</a></li>
                <li><a href="./home.html"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
               
            </ul>
        
            <div class="social_media">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    
        <div class="main_content">
            <div class="header">
                <h1>Welcome User!</h1>
                <hr>
            </div>
            <div class="content">
            <section id="appointment">
                <h2 class="apt">BOOK AN APPOINTMENT</h2>
                <form>
                    <div class="outer-box">
                    <input type="text" placeholder="Hospital Name" class="bingo">
                    <input type="text" placeholder="Doctor Name" class="bingo">
                    <input type="date" placeholder="Appointment Date" class="bingo">
                    <input type="time" placeholder="Appointment Time" class="bingo">
                    <button class="register">Book Slot</button>
                    </div>
                </form>
            </section>
            <section  class="upload" id="upload_files">
                <h2 class="apt">UPLOAD PAST HISTORY</h2>
                
            </section>
            <section class="activity" id="past_activity">
                <h2 class="apt">THIS IS PAST ACTIVITY SECTION</h2>
                
            </section>
            
            </div>
        </div>

    </div>
    <!-- SIDEBAR SECTION -->

    <form action="" method="post">
        
    </form>
</body>
</html>