<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./resdash.css">  
    <script src="https://kit.fontawesome.com/fc6a73613f.js"></script>

    
    <title>Health ID | Organization-Dashboard</title>
</head>
<body>
   <!-- SIDEBAR SECTION -->
    <div class="bar">
        <div class="sidebar">
            <h2>HealthID</h2>
            
            <ul>
                <li><a href="#doc"><i class="fa-solid fa-file-waveform"></i>Thesis</a></li>
                <li><a href="#upload_files"><i class="fa-solid fa-upload"></i>Patient Record</a></li>
                <li><a href="#past_activity"><i class="fa-solid fa-book-medical"></i>Past Activity</a></li>
                <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
            </ul>
        
            <div class="social_media">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    
        <div class="main_content">
            <div class="header">
                <h1>Welcome, {{session.get('name')}} !</h1>
                <hr>
            </div>
            {% include 'includes/_messages.html' %}
            <div class="content">
            <section class="doctor" id="doc">
                <h2 class="apt">THESIS </h2>
                
            </section>
            <section class="activity" id="past_activity">
                <h2 class="apt">UPLOAD THESIS</h2>
                <form method="POST" action="" enctype="multipart/form-data">
                    <!-- <label for="paper_name">Paper Name :</label> -->
                    Paper Name :
                    <input type="text" name="paper_name" placeholder="Name" required="required" value={{request.form.paper_name}}>
                    <br>
                    Upload :
                    <!-- <label for="myfile">Upload :</label> -->
                    <input type="file" id="myfile" name="myfile">
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </section>

            <section class="activity" id="past_activity">
                <h2 class="apt">THIS IS PAST ACTIVITY SECTION</h2>
                
            </section>
            
            </div>
        </div>

    
    <!-- SIDEBAR SECTION -->

    
</body>
</html>